// src\styles\components\_footer.scss

/* Footer */

.site-footer {
  padding: 4rem 0;

  &__inner {
    width: 80%;

    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    gap: var(--space-32);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    &--wide {
      grid-column: span 1;
      @media (min-width: 769px) {
        grid-column: span 1;
      }
    }
  }

  &__title {
    font-family: var(--font-heading);
    font-size: 1.25rem;
    margin-bottom: var(--space-12);
    border-bottom: 1px solid var(--color-border-subtle);
    display: inline-block;
    padding-bottom: 2px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-8);

    a {
      color: var(--color-text);
      text-decoration: none;
    }
  }

  &__ethics {
    max-width: 420px;
    line-height: 1.4;
    margin-bottom: var(--space-16);
  }

  &__social {
    display: flex;
    align-items: center;
    gap: var(--space-16);
  }

  &__icon {
    font-size: 1.25rem;
  }

  &__bottom {
    margin-top: var(--space-32);
    text-align: center;
    font-size: var(--fontSizeBodySm);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
  }

  &__devlogo {
    margin-top: 4px;
    opacity: 0.85;
  }
}
