// src/styles/components/_portfolio.scss

/* ********************************************************** */
/* Portfolio hero */
/* ********************************************************** */

.portfolio_hero {
  background: linear-gradient(
    to bottom,
    var(--colorBackground) 0%,
    var(--colorBackground) 50%,
    var(--colorPrimaryLight) 50%,
    var(--colorPrimaryLight) 100%
  );
}

.portfolio_hero__container {
  padding-top: var(--space-48);
  padding-bottom: var(--space-72);
}

/* Grid */

.portfolio_hero__grid {
  display: grid;
  grid-template-columns: minmax(320px, 1fr) 520px;
  align-items: start;
  gap: var(--space-56);
}

/* Content column */

.portfolio_hero__content {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-32);
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.portfolio_hero__header {
  text-align: center;
  margin-bottom: var(--space-24);
}

.portfolio_hero__title {
  font-family: var(--fontHeading);
  font-size: var(--fontSizeH1);
  line-height: 1.12;
  color: var(--colorPrimary);
  margin: 0;
}

.portfolio_hero__text {
  max-width: 560px;
}

.portfolio_hero__paragraph {
  font-family: var(--fontBody);
  font-size: var(--fontSizeH3);
  line-height: 1.7;
  color: var(--colorPrimary);
  margin: 0;
}

/* Media column */

.portfolio_hero__media {
  display: flex;
  justify-content: flex-end;
}

.portfolio_hero__image {
  width: 100%;
  height: auto;
  border-radius: 22px;
}

.portfolio_hero__image_desktop {
  max-width: 420px;
  /* margin-top: calc(var(--space-72) * -1); */
}

.portfolio_hero__image_mobile {
  display: none;
}

/* ********************************************************** */
/* Mobile */
/* ********************************************************** */

@media (max-width: 1023px) {
  .portfolio_hero {
    background: none;
    padding-top: 10%;
  }

  .portfolio_hero__container {
    padding-top: 0;
    padding-bottom: var(--space-56);
  }

  .portfolio_hero__grid {
    grid-template-columns: 1fr;
    gap: var(--space-24);
  }

  .portfolio_hero__content {
    padding-top: 0;
    padding-left: var(--layout-page-padding-x);
    padding-right: var(--layout-page-padding-x);
    gap: var(--space-24);
  }

  .portfolio_hero__header {
    margin-bottom: var(--space-16);
    padding-top: var(--space-32);
  }

  .portfolio_hero__title {
    text-align: center;
  }

  .portfolio_hero__text {
    text-align: justify;
  }

  .portfolio_hero__paragraph {
    max-width: 560px;
    margin: 0 auto;
  }

  .portfolio_hero__media {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  .portfolio_hero__image_desktop {
    display: none;
  }

  .portfolio_hero__image_mobile {
    display: block;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}
