/* src/styles/globals.scss */

@import './tokens';
@import './components/layout';
@import './components/buttons';
/* @import './components/forms'; */
@import './components/home';

/* Reset simples */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fontBody);
  background-color: var(--colorBackground);
  color: var(--colorText);
}

/* Elementos base */
main {
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* Pequena ajuda de layout geral */
.pageContainer {
  max-width: var(--layoutMaxWidth);
  margin: 0 auto;
  padding: 0 var(--layoutPagePadding);
}
