/* src/styles/globals.scss */

@use './tokens';
@use './components/layout';
@use './components/buttons';
@use './components/footer';
@use './components/home';
@use './components/about';
@use './components/pages';
@use './components/blog';
@use './components/contact';
@use './components/portfolio';
@use './components/studies';
/* Reset simples */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fontBody);
  background-color: var(--colorBackground);
  color: var(--colorText);
}

main {
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.pageContainer {
  max-width: var(--layoutMaxWidth);
  margin: 0 auto;
  padding: 0 var(--layoutPagePadding);
}
